<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>StudenTT Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StudenTT-Common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>StudenTT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D438B7CE1A2E1A330084A5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D438B7D81A2E1A330084A5C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D477905C1A1F7575009BE95D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D477906C1A1F7575009BE95D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D47920781A1D071500187814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D47920911A1D071500187814</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4A49BA81A2CDE5A00C25604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
